
:root{
    --Purple1:#9a0cdb;
}
    *{
        margin: 0;
        padding: 0;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        box-sizing: border-box;
    }
    hr {
        display: block;
        margin-top: 8em;
        margin-bottom: -5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
      }
      img {

        height: auto;
        max-width: 100%;
      
      }
      /* Home Page*/
    #HomePage{
        background: url(../Imgs/HomeBackGround.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        height:100vh;

    }
    /* Container Grid */
    
#container
{
display: grid;
grid-template-areas: 
'Header Header Header'
'About LoginPage RegisterPage '
;
}
.GridSettings{
    border-style: solid;
    border-radius: 25px;
    margin: 1px;
    padding: 5px;
    font-size: 20px;
}
#Header {
    grid-area: Header;
    height: 10vh;
    
}
#About {
    grid-area: About;
    height: 30vh;
    margin-top: 30em;
    
}

#RegisterPage {
    grid-area: RegisterPage;
    height: 50vh;
    margin-top: 13em;

}
#LoginPage {
  grid-area: LoginPage;
  height: 40vh;
  margin-top: 22em;

}
    #StatPage{
        background: url(../Imgs/StatisticBackGround.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height:100vh;

    }

    .hero {
        font-weight: bold;  
        width: 100%;
        height:100vh;
        font-size: 20px;
        display:flex;
        justify-content: left;
        align-items: left;
        padding: 0 5%;
        position: relative;
    }
   nav{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    padding: 40px 20%;
    display:flex;
    justify-content:left;
   }

   nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 100px;

   }
   nav ul li a {
    text-decoration: none;
    color:black
   
   }


  .Forms {
    color:rgb(253, 115, 221)
    
  }


  
  a {
    position: relative;
  }
  
  a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: #18272F;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

/* WORKOUT PAGE*/
#WorkoutPage{
    background: url(../Imgs/WorkoutBackGround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;

}

#DeviceHangBoard{
   
    background-image: none;
    width:200vh;
    height:100vh;
  
    margin-top: -60em;
    background-size: 100% 100%;
}

#Finger2{
    right:20%;
    
}



